<div class="product-header">
    <h1>HEADPHONES</h1>
</div>
<div class="product-list-div">
    <ol class="product-list">
        <li class="product-right">
            <div class="product-img-div">
                <img src="" alt="">
            </div>
            <div class="product-info product-right">
                <span class="new-product">NEW PRODUCT</span>
                <h2 class="product-title">XX99 Mark II Headphones</h2>
                <p class="product-paragraph">
                    The new XX99 Mark II headphones is the pinnacle of pristine audio. 
                    It redefines your premium headphone experience by reproducing the 
                    balanced depth and precision of studio-quality sound.
                </p>
                <button class="btn btn-primary">See Product</button>
            </div>
        </li>
    </ol>
</div>
<category-options></category-options>
