<section>
    <div class="hero-container">
        <div class="hero">
            <hr>
            <div class="hero-info">
                <span>NEW PRODUCT</span>
                <h1>XX99 Mark II Headphones</h1>
                <p class="hero-info-paragraph">
                    Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
                </p>
                <button class=" btn btn-primary hero-btn">SEE PRODUCT</button>
            </div>
        </div>
    </div>
    <div class="home-container">
        <category-options></category-options>
        <div class="principal-product">
            <div class="principal-product-img-div">
                <img src="assets/home/desktop/image-speaker-zx9-desktop.png" alt="speaker" class="principal-product-img">
            </div>
            <div class="principal-product-info">
                <h2>ZX9 SPEAKER</h2>
                <p class="principal-product-paragraph">
                    Upgrade to premium speakers that are 
                    phenomenally built to deliver truly 
                    remarkable sound.
                </p>
                <button class="btn btn-secondary">See Product</button>
            </div>
        </div>
        <div class="secondary-product">
            <div class="secondary-product-info">
                <h2>ZX7 SPEAKER</h2>
                <button class="btn btn-secondary">SEE PRODUCT</button>
            </div>
        </div>
        <div class="tertiary-product">
            <div class="tertiary-product-img">
            </div>
            <div class="tertiary-product-info">
                <h2>YX1 EARPHONES</h2>
                <button class="btn btn-secondary">SEE PRODUCT</button>
            </div>
        </div>
    </div>
</section>