@import "../../styles.scss";

.hero-container {
    width: 100%; 
    background-color: $background-hero;
    margin: 0 auto; 
    font-family: $font-family;
}

.hero {
    height: 729px;
    background-image: url("../../../public/assets/home/tablet/image-header.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 8rem;

    @media screen and (max-width: $tablet) {

    }

    @media screen and (max-width: $mobile) {
        height: 600px;
    }
}

hr{
    width: 87%;
    margin: 0 auto;
    opacity: 0.3;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.hero-info{
    width: 379px;
    height: 346px;
    position: absolute;
    left: 10%;
    top: 30%;

    @media screen and (max-width: $tablet) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -90%)
    }

    @media screen and (max-width: $mobile) {
        width: 328px;
        height: 290px;
    }
}

span{
    font-size: 18px;
    color: $text-secondary;
    opacity: 0.7;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    display: block;

    @media screen and (max-width: $tablet) {
        text-align: center;
    }

    @media screen and (max-width: $mobile) {
        font-size: 16px;
        letter-spacing: 0.3rem;
    }
}

h1{
    font-size: 50px;
    color: $text-secondary;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;

    @media screen and (max-width: $mobile) {
        font-size:40px;
        letter-spacing: 0.1rem;
        text-align: center;
    }
}

.hero-info-paragraph{
    color: $text-secondary;
    opacity: 0.8;
    line-height: 1.9rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $mobile) {
        text-align: center;
    }
}

button{
    @media screen and (max-width: $mobile) {
        position: absolute;
        left: 50%;
        top: 120%;
        transform: translate(-50%, -0%)
    }
}

.home-container{
    padding: 0 6rem 0 6rem;
}


.principal-product{
    width: 100%;
    height: 560px;
    font-family: $font-family;
    background-color: $color-btn;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 7rem;
    overflow: hidden;
    position: relative;
    background-image: url("../../../public/assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.principal-product-img-div{
    width: 410px;
    position: absolute;
    bottom: -100px;
    margin-left: 15%;
    
    @media screen and (max-width: $laptop) {

        margin-left: 0;
    }
}

.principal-product-img{
    height: auto;
    width: 100%;
}

.principal-product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 343px;
    margin-left: 10%;

    h2{
        font-size: 4rem;
        color: $text-secondary;
    }

    button{
        margin-top: 2rem;
        text-transform: uppercase;
    }
}

.principal-product-paragraph{
    margin-top: 1.5rem;
    color: $text-secondary;
    line-height: 2rem;
}

.secondary-product{
    margin-top: 7rem;
    height: 240px;
    background-image: url("../../../public/assets/home/desktop/image-speaker-zx7.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: $font-family;

    h2{
        margin-bottom: 2rem;
    }
}

.secondary-product-info{
    margin-left: 10%;
}