@import "../../styles.scss";

.hero-container {
    width: 100%; 
    background-color: $background-hero;
    margin: 0 auto; 
    font-family: $font-family;
}

.hero {
    height: 729px;
    background-image: url("../../../public/assets/home/tablet/image-header.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 8rem;

    @media screen and (max-width: $tablet) {

    }

    @media screen and (max-width: $mobile) {
        height: 600px;
    }
}

hr{
    width: 87%;
    margin: 0 auto;
    opacity: 0.3;

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.hero-info{
    width: 379px;
    height: 346px;
    position: absolute;
    left: 10%;
    top: 30%;

    @media screen and (max-width: $tablet) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -90%)
    }

    @media screen and (max-width: $mobile) {
        width: 328px;
        height: 290px;
    }
}

span{
    font-size: 18px;
    color: $text-secondary;
    opacity: 0.7;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    display: block;

    @media screen and (max-width: $tablet) {
        text-align: center;
    }

    @media screen and (max-width: $mobile) {
        font-size: 16px;
        letter-spacing: 0.3rem;
    }
}

h1{
    font-size: 50px;
    color: $text-secondary;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;

    @media screen and (max-width: $mobile) {
        font-size:40px;
        letter-spacing: 0.1rem;
        text-align: center;
    }
}

.hero-info-paragraph{
    color: $text-secondary;
    opacity: 0.8;
    line-height: 1.9rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $mobile) {
        text-align: center;
    }
}

.hero-btn{
    @media screen and (max-width: $mobile) {
        position: absolute;
        left: 50%;
        top: 120%;
        transform: translate(-50%, -50%)
    }
}

.home-container{
    padding: 0 6rem 0 6rem;

    @media screen and (max-width: $tablet) {
        padding: 0 3rem 0 3rem;
    }

    @media screen and (max-width: $mobile) {
        padding: 0 2rem 0 2rem;
    }
}


.principal-product{
    width: 100%;
    height: 560px;
    font-family: $font-family;
    background-color: $color-btn;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 7rem;
    position: relative;
    background-image: url("../../../public/assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: $laptop) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 720px;
    }
}

.principal-product-img-div{
    width: 410px;
    
    @media screen and (max-width: $laptop) {
        width: 190px;
        height: 237px;
    }
}

.principal-product-img{
    height: auto;
    width: 100%;
}

.principal-product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 343px;
    margin-bottom: 8rem;

    @media screen and (max-width: $laptop) {
        margin-bottom: 0;
        align-items: center;
    }

    h2{
        font-size: 4rem;
        color: $text-secondary;
        
        @media screen and (max-width: $laptop) {
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
        }
    }

    button{
        margin-top: 2rem;
        text-transform: uppercase;

    }

    @media screen and (max-width: $laptop) {
        text-align: center;
    }
}

.principal-product-paragraph{
    margin-top: 1.5rem;
    color: $text-secondary;
    line-height: 2rem;

    @media screen and (max-width: $laptop) {
        margin-top: 0;
    }
}

.secondary-product {
    margin-top: 7rem;
    height: 360px;
    background-image: url("../../../public/assets/home/desktop/image-speaker-zx7-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: $font-family;
    background-color: $background-tertiary;
    @media screen and (max-width: $laptop) {
        height: 320px;
    }

    @media screen and (max-width: $tablet) {
        background-image: url("../../../public/assets/home/tablet/image-speaker-zx7-tablet.jpg");
    }

    @media screen and (max-width: $mobile) {
        background-image: url("../../../public/assets/home/mobile/image-speaker-zx7-mobile.jpg");
    }

    h2{
        margin-bottom: 2rem;
    }
}

.secondary-product-info{
    margin-left: 10%;
}

.tertiary-product{
    margin-top: 7rem;
    height: 320px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        height: 430px;
    }
}

.tertiary-product-img, .tertiary-product-info{
    width: 48%;

    @media screen and (max-width: $tablet) {
        width: 100%;
        height: 100%;
    }
}

.tertiary-product-img{
    background-image: url("../../../public/assets/home/desktop/image-earphones-yx1-desktop.jpg");
    background-position: center;

    @media screen and (max-width: $tablet) {
        background-image: url("../../../public/assets/home/tablet/image-earphones-yx1-tablet.jpg");
        margin-bottom: 2rem;
    }

    @media screen and (max-width: $mobile) {
        background-image: url("../../../public/assets/home/mobile/image-earphones-yx1-mobile.jpg");
    }
}

.tertiary-product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-tertiary;

    h2, button{
        margin-left: 3rem;
    }

    h2{
        $font-family: $font-family;
        margin-bottom: 2rem;
    }
}


