@import "../../styles.scss";

:host {
    display: block;
    background-color: $background-hero;
}

section {
    width: 100%; 
    max-width: 1440px;
    margin: 0 auto; 
}

.home {
    height: 729px;
    background-image: url("../../../public/assets/home/desktop/image-hero.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $tablet) {
        background-position: 80% center;
        background-size: cover;

    }

    @media screen and (max-width: $mobile) {
        height: 600px;
    }
}

.home-info{
    width: 379px;
    height: 346px;
}