<section>
    <div class="hero-container">
        <div class="hero">
            <hr>
            <div class="hero-info">
                <span>NEW PRODUCT</span>
                <h1>XX99 Mark II Headphones</h1>
                <p class="hero-info-paragraph">
                    Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
                </p>
                <button class=" btn btn-primary">SEE PRODUCT</button>
            </div>
        </div>
    </div>
    <category-options></category-options>
</section>