<header>
    <div class="logo-ham-div">
        <div class="hamburger-div"><img src="assets/shared/tablet/icon-hamburger.svg" alt="hamburger icon"></div>
        <div class="logo-div"><img src="assets/shared/desktop/logo.svg" alt="logo"></div>
    </div>
    <div class="navigation-link-div">
        <!--Grab footer styles fix it-->
        <ol class="navigation-links-list">
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">HOME</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">HEADPHONES</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">SPEAKERS</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">EARPHONES</a>
            </li>
        </ol>
    </div>
    <div class="cart-div"><img src="assets/shared/desktop/icon-cart.svg" alt="cart icon"></div>
</header>