<footer>
    <div class="description-div">
        <div class="logo-div"><img src="assets/shared/desktop/logo.svg" alt="logo image"></div>
        <p class="footer-description">
            Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music 
            lovers and sound specialists who are devoted to helping you get the most out of personal audio. 
            Come and visit our demo facility - we’re open 7 days a week.
        </p>
    </div>
    <div class="navigation-div">
        <ol class="navigation-links-list">
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">HOME</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">HEADPHONES</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">SPEAKERS</a>
            </li>
            <li class="navigation-links-item">
                <a href="navigation-link-anchors">EARPHONES</a>
            </li>
        </ol>
        <div class="social-media-div">
            <ol class="social-media-list">
                <li class="social-media-item">
                    <img src="assets/shared/desktop/icon-facebook.svg" alt="" class="social-media-img">
                </li>
                <li class="social-media-item">
                    <img src="assets/shared/desktop/icon-instagram.svg" alt="" class="social-media-img">
                </li>
                <li class="social-media-item">
                    <img src="assets/shared/desktop/icon-twitter.svg" alt="" class="social-media-img">
                </li>
            </ol>
        </div>
    </div>
</footer>
